# Hugo build output
public/
resources/

# Node / package managers
node_modules/
package-lock.json
yarn.lock

# Hugo internals
.hugo_build.lock

# OS junk
.DS_Store
Thumbs.db

# Backup og kopier
backup/
* copy.*
* copy/
