{{- $p := .Page -}}
{{- $name := $p.Title -}}
{{- $caption := $p.Params.caption | default "" -}}
{{- $loc := $p.Params.location | default "" -}}
{{- $cover := $p.Params.cover.image | default "" -}}
{{- $coverAbs := "" -}}
{{- with $cover }}
  {{- with $p.Resources.GetMatch (printf "*%s" (path.Base .)) }}
    {{- $coverAbs = .Permalink -}}
  {{- else -}}
    {{- $coverAbs = printf "%s%s/%s" site.BaseURL (path.Dir $p.RelPermalink) (path.Base .) -}}
  {{- end -}}
{{- end }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": ["Photograph", "ImageObject"],
  "name": {{ $name | jsonify }},
  "headline": {{ $name | jsonify }},
  "abstract": {{ $p.Summary | plainify | jsonify }},
  "caption": {{ $caption | jsonify }},
  "image": {{ $coverAbs | jsonify }},
  "url": {{ $p.Permalink | jsonify }},
  "creator": { 
    "@type": "Person", 
    "name": "Allan Andersen",
    "alternateName": "RedOwlPhoto",
    "url": {{ "https://redowlphoto.dk/" | jsonify }}
  },
  "contentLocation": { "@type": "Place", "name": {{ $loc | jsonify }} },
  "dateCreated": {{ $p.Date | time.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "datePublished": {{ ($p.PublishDate | default $p.Date) | time.Format "2006-01-02" | jsonify }},
  "dateModified": {{ $p.Lastmod | time.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "keywords": {{ $p.Params.tags | default slice | jsonify }},
  "genre": ["Minimalist", "Seascape", "Fine Art"],
  "copyrightNotice": "© Allan Andersen / RedOwlPhoto",
  "license": {{ (print site.BaseURL "license/") | jsonify }},
  "acquireLicensePage": {{ (print site.BaseURL "about/") | jsonify }},
  "mainEntityOfPage": true
}
</script>
