{{ $page := . }}

{{ if .Title }}

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "{{ $page.Title }}",
  "image": "{{ $page.Site.BaseURL }}{{ $page.Params.image }}",
  "description": "{{ $page.Params.description }}",
  "brand": {
    "@type": "Brand",
    "name": "RedOwlPhoto"
  },
  "offers": [
    {
      "@type": "Offer",
      "url": "{{ $page.Site.BaseURL }}prints/{{ $page.Params.slug }}-30x20",
      "priceCurrency": "DKK",
      "price": "150",
      "availability": "https://schema.org/InStock",
      "itemCondition": "https://schema.org/NewCondition",
      "name": "{{ $page.Title }} – 30x20 cm"
    },
    {
      "@type": "Offer",
      "url": "{{ $page.Site.BaseURL }}prints/{{ $page.Params.slug }}-70x50",
      "priceCurrency": "DKK",
      "price": "600",
      "availability": "https://schema.org/InStock",
      "itemCondition": "https://schema.org/NewCondition",
      "name": "{{ $page.Title }} – 70x50 cm"
    }
  ]
}
</script>

{{ end }}
