{{- $p := .Page -}}
{{- $name := $p.Title -}}
{{- $caption := $p.Params.caption | default "" -}}
{{- $loc := $p.Params.location | default "" -}}
{{- $cover := $p.Params.cover.image | default "" -}}
{{- $coverAbs := "" -}}
{{- with $cover }}
  {{- with $p.Resources.GetMatch (printf "*%s" (path.Base .)) }}
    {{- $coverAbs = .Permalink -}}
  {{- else -}}
    {{- $coverAbs = printf "%s%s/%s" site.BaseURL (path.Dir $p.RelPermalink) (path.Base .) -}}
  {{- end -}}
{{- end }}

<script type="application/ld+json">
[{
  "@context": "https://schema.org",
  "@type": "Photograph",
  "name": {{ $name | jsonify }},
  "headline": {{ $name | jsonify }},
  "abstract": {{ $p.Summary | plainify | jsonify }},
  "inLanguage": {{ $p.Language.LanguageCode | default "en" | jsonify }},
  "url": {{ $p.Permalink | jsonify }},
  "author": { "@type": "Person", "name": "RedOwlPhoto" },
  "copyrightYear": {{ $p.Date.Format "2006" }},
  "dateCreated": {{ $p.Date | time.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "datePublished": {{ ($p.PublishDate | default $p.Date) | time.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "dateModified": {{ $p.Lastmod | time.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "keywords": {{ $p.Params.tags | default slice | jsonify }},
  "mainEntityOfPage": true
},
{
  "@context": "https://schema.org",
  "@type": ["Photograph","ImageObject"],
  "caption": {{ $caption | jsonify }},
  "contentLocation": { "@type": "Place", "name": {{ $loc | jsonify }} },
  "creator": { "@type": "Person", "name": "Allan Andersen", "url": {{ "https://redowlphoto.dk/" | jsonify }} },
  "datePublished": {{ $p.Date.Format "2006-01-02" | jsonify }},
  "genre": ["Minimalist","Seascape","Fine Art"],
  "image": {{ $coverAbs | jsonify }},
  "inLanguage": {{ $p.Language.LanguageCode | default "en" | jsonify }},
  "name": {{ $name | jsonify }},
  "sameAs": ["https://www.instagram.com/redowlphoto/"],
  "url": {{ $p.Permalink | jsonify }},
  "creditText": "Allan Andersen",
  "copyrightNotice": "© Allan Andersen / RedOwlPhoto",
  "license": {{ (print site.BaseURL "license/") | jsonify }},
  "acquireLicensePage": {{ (print site.BaseURL "about/") | jsonify }}
}]
</script>
