{{- $p := .Page -}}
{{- $name := $p.Title -}}
{{- $desc := $p.Params.description | default $p.Summary | plainify -}}
{{- $image := $p.Params.image | default "" -}}
{{- $imageAbs := "" -}}
{{- if $image -}}
  {{- $imageAbs = printf "%s%s" site.BaseURL (strings.TrimPrefix "/" $image) -}}
{{- end -}}

{{- /* Definer Gratis Fragt til EU inkl. leveringstid */ -}}
{{- $shipping := dict
  "@type" "OfferShippingDetails"
  "shippingRate" (dict
    "@type" "MonetaryAmount"
    "value" 0
    "currency" "DKK"
  )
  "shippingDestination" (dict
    "@type" "DefinedRegion"
    "addressCountry" (slice "AT" "BE" "BG" "HR" "CY" "CZ" "DK" "EE" "FI" "FR" "DE" "GR" "HU" "IE" "IT" "LV" "LT" "LU" "MT" "NL" "PL" "PT" "RO" "SK" "SI" "ES" "SE")
  )
  "deliveryTime" (dict
    "@type" "ShippingDeliveryTime"
    "handlingTime" (dict
      "@type" "QuantitativeValue"
      "minValue" 0
      "maxValue" 0
      "unitCode" "d"
    )
    "transitTime" (dict
      "@type" "QuantitativeValue"
      "minValue" 5
      "maxValue" 7
      "unitCode" "d"
    )
  )
-}}

{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "Product"
  "name" $name
  "image" $imageAbs
  "description" $desc
  "brand" (dict
    "@type" "Brand"
    "name" "RedOwlPhoto"
  )
  "offers" (slice
    (dict
      "@type" "Offer"
      "name" "70x50 cm"
      "url" (printf "%s-70x50" (strings.TrimSuffix "/" $p.Permalink))
      "priceCurrency" "DKK"
      "price" site.Data.prices.medium
      "availability" "https://schema.org/InStock"
      "shippingDetails" $shipping
    )
    (dict
      "@type" "Offer"
      "name" "30x20 cm"
      "url" (printf "%s-30x20" (strings.TrimSuffix "/" $p.Permalink))
      "priceCurrency" "DKK"
      "price" site.Data.prices.small
      "availability" "https://schema.org/InStock"
      "shippingDetails" $shipping
    )
  )
-}}

<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>

<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>
