{{- $p := .Page -}}
{{- $name := $p.Title -}}
{{- $desc := $p.Params.description | default $p.Summary | plainify -}}
{{- $image := $p.Params.image | default "" -}}
{{- $imageAbs := "" -}}
{{- if $image -}}
  {{- $imageAbs = printf "%s%s" site.BaseURL (strings.TrimPrefix "/" $image) -}}
{{- end -}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": {{ $name | jsonify }},
  "image": {{ $imageAbs | jsonify }},
  "description": {{ $desc | jsonify }},
  "brand": {
    "@type": "Brand",
    "name": "RedOwlPhoto"
  },
  "offers": [
    {
      "@type": "Offer",
      "name": "70x50 cm",
      "url": {{ printf "%s-70x50" (strings.TrimSuffix "/" $p.Permalink) | jsonify }},
      "priceCurrency": "DKK",
      "price": {{ site.Data.prices.medium }},
      "availability": "https://schema.org/InStock"
    },
    {
      "@type": "Offer",
      "name": "30x20 cm",
      "url": {{ printf "%s-30x20" (strings.TrimSuffix "/" $p.Permalink) | jsonify }},
      "priceCurrency": "DKK",
      "price": {{ site.Data.prices.small }},
      "availability": "https://schema.org/InStock"
    }
  ]
}
</script>
