{{- $p := .Page -}}
{{- $name := $p.Title -}}
{{- $desc := $p.Params.description | default $p.Summary | plainify -}}
{{- $image := $p.Params.image | default "" -}}
{{- $imageAbs := "" -}}
{{- if $image -}}
  {{- $imageAbs = printf "%s%s" site.BaseURL (strings.TrimPrefix "/" $image) -}}
{{- end -}}

{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "Product"
  "name" $name
  "image" $imageAbs
  "description" $desc
  "brand" (dict
    "@type" "Brand"
    "name" "RedOwlPhoto"
  )
  "offers" (slice
    (dict
      "@type" "Offer"
      "name" "70x50 cm"
      "url" (printf "%s-70x50" (strings.TrimSuffix "/" $p.Permalink))
      "priceCurrency" "DKK"
      "price" site.Data.prices.medium
      "availability" "https://schema.org/InStock"
    )
    (dict
      "@type" "Offer"
      "name" "30x20 cm"
      "url" (printf "%s-30x20" (strings.TrimSuffix "/" $p.Permalink))
      "priceCurrency" "DKK"
      "price" site.Data.prices.small
      "availability" "https://schema.org/InStock"
    )
  )
-}}

<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>
