{{/* portrait shortcode
   Brug: {{< portrait src="portrait.jpg" alt="Allan Andersen, RedOwlPhoto" class="about-photo" >}}
*/}}

{{ $src   := .Get "src" | default "portrait.jpg" }}
{{ $alt   := .Get "alt" | default "Portrait" }}
{{ $class := .Get "class" | default "about-photo" }}

{{ $img := .Page.Resources.GetMatch (printf "*%s*" $src) }}
{{ if not $img }}
  {{ errorf "portrait shortcode: kunne ikke finde '%s' som Page Resource på %s" $src .Page.File.Path }}
{{ end }}

{{ $w480   := $img.Resize "480x q85" }}
{{ $w800   := $img.Resize "800x q85" }}
{{ $w1200  := $img.Resize "1200x q85" }}

{{ $a480   := $img.Resize "480x avif q80" }}
{{ $a800   := $img.Resize "800x avif q80" }}
{{ $a1200  := $img.Resize "1200x avif q80" }}

{{ $wp480  := $img.Resize "480x webp q85" }}
{{ $wp800  := $img.Resize "800x webp q85" }}
{{ $wp1200 := $img.Resize "1200x webp q85" }}

<picture class="{{ $class }}">
  <source type="image/avif"
          srcset="{{ $a480.RelPermalink }} 480w, {{ $a800.RelPermalink }} 800w, {{ $a1200.RelPermalink }} 1200w"
          sizes="(max-width: 720px) 100vw, 420px">
  <source type="image/webp"
          srcset="{{ $wp480.RelPermalink }} 480w, {{ $wp800.RelPermalink }} 800w, {{ $wp1200.RelPermalink }} 1200w"
          sizes="(max-width: 720px) 100vw, 420px">
  <img
    src="{{ $w800.RelPermalink }}"
    srcset="{{ $w480.RelPermalink }} 480w, {{ $w800.RelPermalink }} 800w, {{ $w1200.RelPermalink }} 1200w"
    sizes="(max-width: 720px) 100vw, 420px"
    alt="{{ $alt }}"
    loading="lazy"
    decoding="async">
</picture>
