{{- $p := .Page -}}

{{/* ---- Find bedste billede ---- */}}
{{- $img := "" -}}

{{/* 1) .Params.image (site-level) hvis sat */}}
{{- with $p.Params.image }}
  {{- $img = . | absURL -}}
{{- end -}}

{{/* 2) cover.image → prøv som Page Resource-match, ellers brug som path */}}
{{- if not $img }}
  {{- with $p.Params.cover }}
    {{- with .image }}
      {{- $res := $p.Resources.GetMatch (printf "%s*" .) -}}
      {{- if $res -}}
        {{- $img = $res.Permalink -}}
      {{- else -}}
        {{- $img = . | absURL -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* 3) Første billed-resource i bundlen */}}
{{- if not $img }}
  {{- with $p.Resources.ByType "image" }}
    {{- with first 1 . }}
      {{- $img = (index . 0).Permalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* 4) .Params.images[0] fallback */}}
{{- if not $img }}
  {{- with index $p.Params.images 0 }}
    {{- $img = . | absURL -}}
  {{- end -}}
{{- end -}}

{{/* ---- Byg JSON-LD ---- */}}
{{- $data := dict
  "@context" "https://schema.org"
  "@type"     (slice "CreativeWork" "ImageObject")
  "name"      $p.Title
  "creator"   (dict "@type" "Person" "name" "Allan Andersen")
  "url"       $p.Permalink
  "image"     $img
  "caption"   $p.Params.caption
  "contentLocation" (cond (isset $p.Params "location") (dict "@type" "Place" "name" $p.Params.location) nil)
  "genre"     (slice "Minimalist" "Seascape" "Fine Art")
  "datePublished" ($p.Date.Format "2006-01-02")
  "inLanguage" "en"
-}}

<script type="application/ld+json">
{{- $data | jsonify -}}
</script>
