{{- $p := .Page -}}
{{- $site := .Site -}}

{{- $title := $p.Title -}}
{{- $caption := or $p.Params.caption $p.Params.cover.alt -}}
{{- $loc := $p.Params.location -}}
{{- $imgName := $p.Params.cover.image -}}
{{- $imgURL := cond (strings.HasPrefix $imgName "http") $imgName (printf "%s%s" $p.Permalink $imgName) -}}

{{- $authorName := or $site.Params.author.name $site.Author.name $site.Title -}}
{{- $authorURL := or $site.Params.author.url $site.BaseURL -}}

{{- $article := dict
  "@context" "https://schema.org"
  "@type" "Article"
  "articleSection" "Works"
  "name" $title
  "headline" $title
  "abstract" ($caption | plainify)
  "inLanguage" (or $site.Language.Lang "en")
  "url" $p.Permalink
  "author" (dict "@type" "Person" "name" $authorName "url" $authorURL)
  "copyrightYear" ($p.Date.Format "2006")
  "dateCreated" ($p.Date.Format "2006-01-02T15:04:05Z07:00")
  "datePublished" ($p.PublishDate.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" ($p.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  "image" $imgURL
  "keywords" $p.Params.tags
  "mainEntityOfPage" true
-}}

{{- $imageObj := dict
  "@context" "https://schema.org"
  "@type" (slice "CreativeWork" "ImageObject")
  "name" $title
  "creator" (dict "@type" "Person" "name" "Allan Andersen" "url" $authorURL)
  "url" $p.Permalink
  "image" $imgURL
  "caption" $caption
  "contentLocation" (cond $loc (dict "@type" "Place" "name" $loc) nil)
  "genre" (slice "Minimalist" "Seascape" "Fine Art")
  "datePublished" ($p.Date.Format "2006-01-02")
  "inLanguage" "en"
  "sameAs" (slice "https://www.instagram.com/redowlphoto/")
-}}

{{- $payload := slice $article $imageObj | jsonify -}}
<script type="application/ld+json">{{- $payload | safeJS -}}</script>
